# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Android
**/android/local.properties
**/android/.gradle
**/android/captures/
